<p>
  <b>Url:</b>
  <%= link_to @comment.url, @comment.url %>
</p>

<p>
  <b>Name:</b>
  <%=h @comment.name %>
</p>

<p>
  <b>Link:</b>
  <%=h @comment.link %>
</p>

<p>
  <b>Body:</b>
  <%=h @comment.body %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
